In [2]:
data = ''' 
윤경환, 성형석,
김동현, 최재권,
이재범, 주미현,
윤도하, 황지의,
이승환, 박호정,
박주형, 백혜리,
차혁주, 한다연,
김동민, 이예림,
박세웅, 장유미,
우만경, 김태호,
권용희, 유해성,
최지욱, 김현우
'''

data

' \n윤경환, 성형석,\n김동현, 최재권,\n이재범, 주미현,\n윤도하, 황지의,\n이승환, 박호정,\n박주형, 백혜리,\n차혁주, 한다연,\n김동민, 이예림,\n박세웅, 장유미,\n우만경, 김태호,\n권용희, 유해성,\n최지욱, 김현우\n'

In [3]:
pattern = '[^ㄱ-ㅎ가-힣,]+'

import re
data=re.sub(pattern, '', data)

data=data.split(',')
data

['윤경환',
 '성형석',
 '김동현',
 '최재권',
 '이재범',
 '주미현',
 '윤도하',
 '황지의',
 '이승환',
 '박호정',
 '박주형',
 '백혜리',
 '차혁주',
 '한다연',
 '김동민',
 '이예림',
 '박세웅',
 '장유미',
 '우만경',
 '김태호',
 '권용희',
 '유해성',
 '최지욱',
 '김현우']

In [4]:
namelist = []

for idx, name in enumerate(data):
    if idx%2==0:
        namelist.append([])
    namelist[-1].append(name)

namelist

[['윤경환', '성형석'],
 ['김동현', '최재권'],
 ['이재범', '주미현'],
 ['윤도하', '황지의'],
 ['이승환', '박호정'],
 ['박주형', '백혜리'],
 ['차혁주', '한다연'],
 ['김동민', '이예림'],
 ['박세웅', '장유미'],
 ['우만경', '김태호'],
 ['권용희', '유해성'],
 ['최지욱', '김현우']]

In [5]:
import numpy as np

np.shape(data)

(24,)

In [6]:
namearray = np.reshape(data, (-1,2))
namearray

array([['윤경환', '성형석'],
       ['김동현', '최재권'],
       ['이재범', '주미현'],
       ['윤도하', '황지의'],
       ['이승환', '박호정'],
       ['박주형', '백혜리'],
       ['차혁주', '한다연'],
       ['김동민', '이예림'],
       ['박세웅', '장유미'],
       ['우만경', '김태호'],
       ['권용희', '유해성'],
       ['최지욱', '김현우']], dtype='<U3')

In [7]:
bun = list(range(1, len(namearray)+1))
bun=np.reshape(bun, (-1,1))
bun

array([[ 1],
       [ 2],
       [ 3],
       [ 4],
       [ 5],
       [ 6],
       [ 7],
       [ 8],
       [ 9],
       [10],
       [11],
       [12]])

In [8]:
result = np.hstack((bun, namearray))
result

array([['1', '윤경환', '성형석'],
       ['2', '김동현', '최재권'],
       ['3', '이재범', '주미현'],
       ['4', '윤도하', '황지의'],
       ['5', '이승환', '박호정'],
       ['6', '박주형', '백혜리'],
       ['7', '차혁주', '한다연'],
       ['8', '김동민', '이예림'],
       ['9', '박세웅', '장유미'],
       ['10', '우만경', '김태호'],
       ['11', '권용희', '유해성'],
       ['12', '최지욱', '김현우']], dtype='<U11')

In [60]:
!pip install pandas

Collecting pandas
  Downloading pandas-2.1.4-cp312-cp312-win_amd64.whl.metadata (18 kB)
Requirement already satisfied: numpy<2,>=1.26.0 in c:\users\bluecom014\miniconda3\envs\sesac\lib\site-packages (from pandas) (1.26.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\bluecom014\miniconda3\envs\sesac\lib\site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2023.3.post1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.1 (from pandas)
  Downloading tzdata-2023.4-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\bluecom014\miniconda3\envs\sesac\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.1.4-cp312-cp312-win_amd64.whl (10.5 MB)
   ---------------------------------------- 0.0/10.5 MB ? eta -:--:--
   -- ------------------------------------- 0.7/10.5 MB 20.8 MB/s eta 0:00:01
   ----- ---------------------------------- 1.5/10.5 MB 19.4 MB/s eta 0:00:01
   ---------- ----------------------------- 2.8/10.5 MB 19.9 MB/s eta 0:00:01
   -------------- ------------------------- 3.8/10.5 MB 21.8 MB/s eta 0:00:01
   ------------------ --------------------- 4.9/10.5 MB 24.1 MB/s eta 0:00:01
   --------------------- ------------------ 5.6/10.5 MB 21.1 MB/s eta 0:00:01
   ------------------------ --------------- 6.5/10.5 MB 20.8 MB/s eta 0:00:01
   ----------------------------- ---------- 7.8/10.5 MB 21.7 MB/s eta 0:00:01
   ------------------------------- -------- 8.2/10.5 MB 19.5 MB/s eta 0:00:01
   ----------------------------------- ---- 9.4/10.5 MB 20.1 MB/s eta 0:00:01
   ---------------------------------------  10.2/10.5 MB 20.5 MB/s eta 0:00:01
   ---------------------------------------  10.5/10.5 MB 20.5 MB/s eta 0:00:01
   ---------------------------------------- 10.5/10.5 MB 18.7 MB/s eta 0:00:00
Downloading pytz-2023.3.post1-py2.py3-none-any.whl (502 kB)
   ---------------------------------------- 0.0/502.5 kB ? eta -:--:--
   --------------------------------------- 502.5/502.5 kB 30.8 MB/s eta 0:00:00
Downloading tzdata-2023.4-py2.py3-none-any.whl (346 kB)
   ---------------------------------------- 0.0/346.6 kB ? eta -:--:--
   --------------------------------------- 346.6/346.6 kB 21.0 MB/s eta 0:00:00
Installing collected packages: pytz, tzdata, pandas
Successfully installed pandas-2.1.4 pytz-2023.3.post1 tzdata-2023.4

In [9]:
import pandas as pd

df=pd.DataFrame(result, columns=['번호','조원1','조원2'])
시간 = [5,5,5,10,10,5,5,5,3,10,3,5]
df['발표시간']=시간

    번호  조원1  조원2  발표시간
0    1  윤경환  성형석     5
1    2  김동현  최재권     5
2    3  이재범  주미현     5
3    4  윤도하  황지의    10
4    5  이승환  박호정    10
5    6  박주형  백혜리     5
6    7  차혁주  한다연     5
7    8  김동민  이예림     5
8    9  박세웅  장유미     3
9   10  우만경  김태호    10
10  11  권용희  유해성     3
11  12  최지욱  김현우     5

In [13]:
df['발표시간'].sum(), df['발표시간'].mean(), df['발표시간'].std()

(71, 5.916666666666667, 2.574643252722186)

In [14]:
df.describe()

            발표시간
count  12.000000
mean    5.916667
std     2.574643
min     3.000000
25%     5.000000
50%     5.000000
75%     6.250000
max    10.000000

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   번호      12 non-null     object
 1   조원1     12 non-null     object
 2   조원2     12 non-null     object
 3   발표시간    12 non-null     int64
dtypes: int64(1), object(3)
memory usage: 516.0+ bytes

In [12]:
np.hstack((result, np.reshape(시간, (-1,1))))

array([['1', '윤경환', '성형석', '5'],
       ['2', '김동현', '최재권', '5'],
       ['3', '이재범', '주미현', '5'],
       ['4', '윤도하', '황지의', '10'],
       ['5', '이승환', '박호정', '10'],
       ['6', '박주형', '백혜리', '5'],
       ['7', '차혁주', '한다연', '5'],
       ['8', '김동민', '이예림', '5'],
       ['9', '박세웅', '장유미', '3'],
       ['10', '우만경', '김태호', '10'],
       ['11', '권용희', '유해성', '3'],
       ['12', '최지욱', '김현우', '5']], dtype='<U11')

In [19]:
### \n을 제거, ' '을 제거 / 제거 : 찾는 값, 바꿀값이 ''
### 한글과 쉼표를 제외한 나머지값 제거

import re
def aa(data, reList):
    for x in reList:
        data = re.sub(x,'',data)
    return data

reList = ['\n', ' ']
aa(data, reList)

'윤경환,성형석김동현,최재권이재범,주미현윤도하,황지의이승환,박호정박주형,백혜리차혁주,한다연김동민,이예림박세웅,장유미우만경,김태호권용희,유해성최지욱,김현우'