데이터 가공

1. 데이터 읽어와서 확인

In [2]:
from glob import glob
datalist = r"C:\Users\bluecom014\Desktop\data\csv 파일\행복지수\*.xlsx"

files = glob(datalist)

filenames = {}
for idx, name in enumerate(files):
    filenames[name.split('_')[1].split('.')[0]] = idx
filenames

{'건강': 0,
 '경제': 1,
 '관계 및 사회참여': 2,
 '교육': 3,
 '삶의만족도': 4,
 '안전': 5,
 '여가': 6,
 '환경': 7}

In [3]:
import pandas as pd
# happy_health = pd.read_excel(r"C:\Users\bluecom014\Desktop\data\csv 파일\행복지수\대한민국행복지도_건강.xls.xlsx")

happy_life = pd.read_excel(files[filenames['삶의만족도']])
happy_health = pd.read_excel(files[filenames['건강']])
happy_safe = pd.read_excel(files[filenames['안전']])
happy_environ = pd.read_excel(files[filenames['환경']])
happy_econo = pd.read_excel(files[filenames['경제']])
happy_edu = pd.read_excel(files[filenames['교육']])
happy_relation = pd.read_excel(files[filenames['관계 및 사회참여']])
happy_leisure = pd.read_excel(files[filenames['여가']])

In [4]:
happy_life

      No       시도    구군  삶의 만족도
0      1    서울특별시   종로구  0.4437
1      2    서울특별시    중구  0.4976
2      3    서울특별시   용산구  0.6161
3      4    서울특별시   성동구  0.4729
4      5    서울특별시   광진구  0.4041
..   ...      ...   ...     ...
224  225     경상남도   함양군  0.9565
225  226     경상남도   거창군  0.6163
226  227     경상남도   합천군  0.8057
227  228  제주특별자치도   제주시  0.7113
228  229  제주특별자치도  서귀포시  0.7113

[229 rows x 4 columns]

2. 데이터 병합

시도 데이터 추출

In [6]:
happy_merge = pd.DataFrame({'시도' : happy_life['시도'].unique()})
happy_merge

         시도
0     서울특별시
1     부산광역시
2     대구광역시
3     인천광역시
4     광주광역시
5     대전광역시
6     울산광역시
7   세종특별자치시
8       경기도
9       강원도
10     충청북도
11     충청남도
12     전라북도
13     전라남도
14     경상북도
15     경상남도
16  제주특별자치도

'삶의 만족도' 데이터 병합

In [10]:
life = happy_life['삶의 만족도'].groupby(happy_life['시도']).mean()
happy_merge = pd.merge(happy_merge, life, on='시도')
happy_merge.head()

      시도    삶의 만족도
0  서울특별시  0.490972
1  부산광역시  0.362081
2  대구광역시  0.363988
3  인천광역시  0.411480
4  광주광역시  0.484480

In [12]:
happy_health.head()

,No,시도,구군,평균,주관적 건강수준 인지율,인구 십만명당 정신건강증진기관 수,인구 천명당 의료기관 종사 의사수,건강생활실천율,인구 천명당 의료기관병상수
0,1,서울특별시,종로구,0.9220,0.8424,0.6914,1.0000,0.9697,0.7616
1,2,서울특별시,중구,0.6742,0.5772,0.4106,0.9995,0.9669,0.4043
2,3,서울특별시,용산구,0.5898,0.9819,0.3353,0.6046,0.9844,0.1433
3,4,서울특별시,성동구,0.4794,0.5465,0.3321,0.5783,0.9776,0.2111
4,5,서울특별시,광진구,0.6373,0.8534,0.7393,0.6352,0.8022,0.1936

In [14]:
health = happy_health['평균'].groupby(happy_life['시도']).mean()
happy_merge = pd.merge(happy_merge, health.rename('건강'), on='시도')
happy_merge.head()

      시도    삶의 만족도        평균        건강
0  서울특별시  0.490972  0.569532  0.569532
1  부산광역시  0.362081  0.511906  0.511906
2  대구광역시  0.363988  0.482325  0.482325
3  인천광역시  0.411480  0.339620  0.339620
4  광주광역시  0.484480  0.632300  0.632300